<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kspp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>CFBundleTypeName</key>
			<string>ScopeWorks document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wareto.scopeworks2.document-package</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.wareto.scopeworks2.document-package</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image with kaleidoscope info</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>public.tiff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ScopeWorks document (legacy)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wareto.scopeworks2.document-legacy</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>NSCameraUsageDescription</key>
	<string>ScopeWorks uses your camera to create live kaleidoscope effects.</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.wareto.scopeworks2</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>ScopeWorks2</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleExternalDisplayNonInteractive</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>External Display</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).ExternalDisplaySceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.wareto.scopeworks2.document-package</string>
			<key>UTTypeDescription</key>
			<string>ScopeWorks document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kspp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.wareto.scopeworks2.document-legacy</string>
			<key>UTTypeDescription</key>
			<string>ScopeWorks document (legacy)</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ksp2</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
