<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.wareto.scopeworks2.document</string>
			<key>UTTypeDescription</key>
			<string>ScopeWorks document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>KSp2</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.scopeworks+json</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ScopeWorks document</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wareto.scopeworks2.document</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>KSp2</string>
				<string></string>
				<string></string>
			</array>
		</dict>
	</array>
</dict>
</plist>
